name: CI

on:
  pull_request:
    branches:
      - main
      - master
      - 'release-'
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
      - master
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref_name != github.event.repository.default_branch || github.ref != 'refs/tags/v*' }}

jobs:
  tests:
    name: "Tests"
    strategy:
      fail-fast: false
      matrix:
        group:
          - "All"
          - "nopre"
        version:
          - "1"
          - "lts"
          - "pre"
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        exclude:
          # Don't run nopre tests on pre-release Julia
          - group: "nopre"
            version: "pre"
    uses: "SciML/.github/.github/workflows/tests.yml@v1"
    with:
      julia-version: "${{ matrix.version }}"
      os: "${{ matrix.os }}"
      group: "${{ matrix.group }}"
    secrets: "inherit"
